@import '../../scss/helper/_variable.scss';
.home {
    font-size: 14px;
    p {
        margin-bottom: 10px;
    }
    .view-box {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .block-title {
        margin-top: 30px;
        margin-bottom: 60px;
        font-size: 26px;
    }
}


.top-nav {
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    ul {
        float: right;
    }
    li {
        display: inline-block;
        margin-left: 30px;
    }
    a {
        color: #fff;
        &.router-link-active,
        &:hover {
            text-decoration: underline;
        }
    }
}

.banner {
    width: 100%;
    padding: 120px 0 80px;
    background-color: $primary-color;
    color: #fff;
    .wrapper {
        position: relative;
    }
    h1 {
        margin-bottom: 30px; // font-size: 38px;
    }
    h6 {}
    span {
        margin-right: 20px;
    }
}

.home-profile {}

.experience {
    .experience-item {
        margin-bottom: 30px;
        hr {
            margin: 10px 0;
        }
        h2 {
            line-height: 2;
        }
        h4 {
            line-height: 2;
            span {
                margin-right: 30px;
            }
        }
        p {
            margin-bottom: 10px
        }

        .item-projects {
            position: relative;
            padding-left: 70px;
            &>p {
                position: absolute;
                left: 0;
            }
            dl{
                // margin-left: 30px;
            }
        }

        dd {
            color: #666;
            font-size: 12px;
        }
    }
}

.contact {
    li {
        margin-bottom: 10px;
    }
}
.introduce{
    p{
        text-indent: 2em;
    }
}